<!DOCTYPE html>
<html lang="en">
    <head>
        <style>
            #button1{
                width: 600px;
                height: 300px;
            }
            #button2{
                width: 600px;
                height: 300px;
            }

            .container {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
            }

         </style>

        <meta charset="UTF-8">
        <title>Homepage</title>
	    {% load static %}
        <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css" />

    </head>
    <body>

        <h1>
            <p style="text-align:center">
                Welcome to Lifestyle+!
            </p>
        </h1>

        <h2>
            <p style="text-align:center">
                Please choose the topic that you need assistance with.
            </p>
        </h2>

        <div class="container">

          <div class="button-wrapper">
             <button type="button phycial-button" id="button1" >Physical Health
                 <a href="{% url 'physical-page' %}">Go to Physical Health Section</a>
             </button>
             <button type="button mental-button" id="button2">Mental Health
                 <a href="{% url 'survey' %}">Go to Mental Health Section</a>
             </button>
          </div>
        </div>

    </body>
</html>