<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}" type="text/css"/>
    <style>
        /*Mental Health Resource Blocks*/
        .resourcebox {
            display: inline-block;
            border-top: 5px solid black;
            text-align: center;
            width: 100%;
            horiz-align: center;
        }
    </style>
    <title>Title</title>
</head>
<body>
<div class="container h-100">
    <div class="text-center">
        <h3 id="form-title" style="font-size: xxx-large">LifeStyle+ Mental Health Survey</h3>
    </div>
    <br>
    <br>
    <div class="modal/body text-center">
        <p>Mental Health is an essential part of living a balanced, healthy life. To begin, please take some of the
            surveys
            below and use those results to find the resources you need.
        </p>
        <a target="_blank" rel="noopener noreferrer" href="http://www.ulifeline.org/ufl/self_evaluator">ULifeline</a>
        <br>
        <a target="_blank" rel="noopener noreferrer" href="https://screening.mhanational.org/screening-tools">Mental
            Health America</a>
        <br>
        <a target="_blank" rel="noopener noreferrer"
           href="https://app.mywellbeingindex.org/assess?utm_campaign=Well%20Being%20Index%20Announcements&utm_source=hs_automation&utm_medium=email&utm_content=43832227&_hsenc=p2ANqtz-958hJRb_WHmbzlFohFdU40OZXDmr643Es5cgRSlgReHUs4Xb-8dqVTZ0aQ-C5qap2ok668kDAzof_n1MW0YtZhht8WRg&_hsmi=43832227">Well-being
            Index</a>
        <br>
        <br>
        <div class="button-wrapper">
            <button type="button" id="button1">
                <a href="{% url 'home-page' %}">Go Back to Home Page</a>
            </button>
        </div>

        <br>
        <label for="depression">Depression:</label>
        <select name="depression" id="depression" onchange="location= this.value">
            <option value="https://www.youtube.com/watch?v=z-IR48Mb3W0">What is depression?</option>
            <option value="https://www.youtube.com/watch?v=MOiaSc38ZeI">Coping with depression.</option>
        </select>
        <br>
        <label for="anxiety">Anxiety:</label>
        <select name="anxiety" id="anxiety" onchange="location= this.value">
            <option value="https://www.youtube.com/watch?v=J8MKgS--u3E">What is anxiety?</option>
            <option value="https://www.youtube.com/watch?v=9mPwQTiMSj8">Causes, symptoms & treatments (Generalized
                Anxiety Disorder)
            </option>
        </select>
        <br>
        <br>
        <div class="text-center">
            <h3 style="font-size: xx-large">Resources</h3>
        </div>
        <div class="resourcebox">
            <p>Office of Counseling and Student Development</p>
            <p>Harrell Medical Education Building 1104 Newell Drive, Gainesville, FL 32610 Fourth Floor, Suite 446 </p>
            <p>To request a counseling appointment, please contact Dr. Beverly Dede via email or phone. To
                expedite the scheduling process, please provide the following information: 1. Your name and
                student status (e.g., MS1, PA student, Grad student); 2. Your availability – Monday-Friday, 9:30-
                4:30, and after 5:00 for clinical students; 3. Specify the urgency of your request – High, (today, if
                possible), Medium (this week), Low (next week) </p>
        </div>
        <br>
        <div class="resourcebox">
            <p>UF Counseling and Wellness Center (individual, group, and/or couples counseling; drug &
                alcohol use disorder services; psychiatry services) </p>
            <p>CWC Radio Road: 3190 Radio Road, Gainesville, FL
                CWC Peabody Hall: 1500 Union Rd. 4th floor, Room 401 Gainesville, FL
                • https://counseling.ufl.edu/services/
                • For an appointment call: 352-392-1575 </p>
        </div>
    </div>
</div>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>